<ion-menu id="authenticated"[content]="content">
    <ion-header>
      <ion-toolbar color="home-naranjo">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pagesInicio" (click)="openPage(p)" color="home-gris">
          {{p.title}}
        </button>
        <ion-item-divider ion-item color="home-navbar" no-lines>
          Distr. Discretas
        </ion-item-divider>
        <button menuClose ion-item *ngFor="let p of pagesDiscretas" (click)="openPage(p)" color="home-gris">
          {{p.title}}
        </button>
        <ion-item-divider ion-item color="home-navbar" no-lines>
          Distr. Continuas
        </ion-item-divider>
        <button menuClose ion-item *ngFor="let p of pagesContinuas" (click)="openPage(p)" color="home-gris">
          {{p.title}}
        </button>
      </ion-list>
      
      <p style="text-align: center; color: grey;"><small>Desarrollado por el Departamento de Matemática y Estadística</small></p>
      <img src="assets/imgs/Lab[e]saM.png">
      <p style="text-align: center; color: grey;"><small>&copy; 2017 | Universidad de Playa Ancha de Ciencias de la Educación</small></p>
    </ion-content>
  
  </ion-menu>
  

  <ion-menu id="unauthenticated" [content]="content">
      <ion-header>
        <ion-toolbar color="home-naranjo">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <ion-content>
               
        <p style="text-align: center; color: grey;"><small>Desarrollado por el Departamento de Matemática y Estadística</small></p>
        <img src="assets/imgs/Lab[e]saM.png">
        <p style="text-align: center; color: grey;"><small>&copy; 2017 | Universidad de Playa Ancha de Ciencias de la Educación</small></p>
      </ion-content>
    
    </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>