<ion-header>
  <ion-navbar color="home-navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Distr. de Bernoulli</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item item-divider color="home-cardTitle">
      Definición
    </ion-item>

    <ion-card-content [MathJax]="def_text" style="text-align: justify;">
      {{def_text}}
    </ion-card-content>

    <ion-item item-divider color="home-cardTitle">
      Parámetros
    </ion-item>
      <ion-card-content [MathJax]="par_text" style="text-align: justify;"> 
        {{par_text}}
      </ion-card-content>
    <ion-item item-divider color="home-cardTitle">
        Cálculo
    </ion-item>
    
  <form [formGroup]="prueba" (submit)="bernoulliCalc()" novalidate>
    <ion-item>
      <ion-label stacked>Probabilidad de Éxito</ion-label>
      <ion-input formControlName="p" type="number" [disabled]="buttonDisabled" inputmode="numeric" pattern="\d*" placeholder="Valor entre 0 y 1 inclusive" [(ngModel)]="p" name="p"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full type="submit" [disabled]="buttonDisabled" color="home-navbar">Calcular</button>
        </ion-col>
        <ion-col>
          <button ion-button full type="reset" (click)="reset()" color="home-naranjo">Borrar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <ion-item item-divider color="home-navbar" *ngIf="visible" >
    Resultados
  </ion-item>
  <ion-card-content *ngIf="visible" [MathJax]="res_text" style="text-align: justify;">
    {{res_text}}
    <p>&nbsp;</p>
  </ion-card-content>

  <p style="text-align: center; color: grey;"><small>&copy; 2017 | Universidad de Playa Ancha de Ciencias de la Educación</small></p>
  <img src="assets/imgs/Lab[e]saM.png">
  <br>
  <br>

</ion-content>
